html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color:white;
  background-color: #36312b;
}

.separator {
  width: 300px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin: 1.5rem auto;
}

.color-body {
  background: rgb(221,240,238);
  background: radial-gradient(circle, rgba(221,240,238,1) 0%, rgba(239,255,240,1) 100%);
}


.eng-handwrite {
  font-weight: normal;
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Sacramento', cursive; */
  /* font-family: 'The Nautigal', cursive; */
  font-family: 'Montez', cursive;
  color: #dec6ff;
}

.greek-sans {
  font-weight: normal;
  font-family: 'Caudex', serif;
  /* font-family: 'Literata', serif; */
  /* font-family: 'GFS Neohellenic', sans-serif; */
}

.main-container {
  text-align: center;
}


.date-container {
  margin: 1rem;
  border: 3px groove #ffffff21;
  border-radius: 38px;
  border-left: none;
  border-right: none;
}
@media screen and (min-width: 550px) {
  .date-container {
    margin: 1rem auto;
    max-width: 500px;
  }
}

.back-static {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  filter: brightness(1) blur(1px);
  background-position-x: center;
  background-size: cover;
}


.main-title {
  font-size: 4.2rem;
  margin: 1rem;
}

.map-container {
  height: calc(100vh / 2);
  margin: 2rem auto;
  width: 96vw;
}

@media screen and (min-width: 768px) {
  .map-container {
    width: 85%;
    height: calc(100vh / 3);
    height: 500px;
    max-width: 800px;
  }
}


.content-section > h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 2rem;
}

.content-section > p {
  margin-top: 0;
  font-size: 1.2rem;
  max-width: 600px;
  padding:0 0.5rem;
  margin: auto;
}

.scroll-snap {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
font-family: 'Caudex', serif;
font-family: 'GFS Neohellenic', sans-serif;
font-family: 'Literata', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Satisfy', cursive;
font-family: 'The Nautigal', cursive; */

#date {
  background-image: url(page_1.jpg);
}
#families {
  background-image: url(page_2.jpg);
}
#best {
  background-image: url(page_3.jpg);
}
#ceremony {
  background-image: url(page_4.jpg);
}
#party {
  background-image: url(page_5.jpg);
}
#stay {
  background-image: url(page_6.jpg);
}
#rsvp {
  background-image: url(page_7.jpg);
}
#hastag {
  background-image: url(page_8.jpg);
}
#honeymoon {
  background-image: url(page_9.jpg);
}
#contact {
  background-image: url(page_10.jpg);
}
#scan {
  background-image: url(page_11.jpg);
}
#seeyou {
  background-image: url(page_12.jpg);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #232623ed;
  z-index: 1;
  transform: translateX(300px);
  transition: 0.3s ease-in-out;
}

.nav-open {
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.links > a {
  padding: 0.2rem 1rem;
  color: #dec6ff !important;
  font-family: 'Montez', cursive;
  font-size: 1.7rem;
  text-decoration: none;
  width: 60%;
  text-align: center;
  margin: 5px 5px;
}

.links > a:focus {
  color: #fff2c6 !important;
  border: 5px dotted #fff2c647;
  border-style: groove;
  margin: 0 !important;
}

.links > a:hover {
  color: #fff2c6 !important;
  border: 5px dotted #fff2c647;
  border-style: groove;
  margin: 0 !important;
}

.links > a:active {
  color: #eeb413 !important;
}

.menu-btn {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
}

/* .menu-btn button {
  background-color: transparent;
  color: white !important;
  border: 0;
  margin: 0;
  z-index: 1;
  width:45px;
  height:45px;
  cursor: pointer;
} */

.wrapper-menu {
  padding: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu:active > .line-menu {
  background-color: #fff2c6 !important;
}

@media screen and (min-width: 550px) {
  .wrapper-menu {
    padding: 1.5rem;
    width: 45px;
    height: 45px;
  }
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  /* background-color: #dec6ff !important; */
  background-color: #fff2c6 !important;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

#timer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.flex1 {
  flex: 1 1 auto;
}

.flex1:not(:last-child) {
  border-right: 1px solid #ffffff2e;
}

.fa-icon {
  width: 1.2rem;
  filter: invert(1);
}

.contact-link {
  white-space: nowrap;
  margin-left: 0.5rem;
  text-decoration: none;
  color:white !important;
}